body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url("image/nadeko.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

canvas {
    background-color: white;
    border: 1px solid #333;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 20px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}